@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
/*General*/
.random, .quote, .sign-up, .footer {
    padding: var(--padding-const);
}

:root {
    --padding-const: 16px 15% 40px 15%;
}

body {
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

.upper {
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    background: #1f2937;
    display: flex;
    padding: var(--padding-const);
    
}

/*Header Content CSS*/

.header > a {
    color: #f9faf8;
    font-weight: bold;
    text-decoration: none;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header nav {
    margin-left: auto;
}

.header nav ul li a {
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    margin: 0 16px;
    color: #e5e7eb;
}

/*Hero Section*/
.hero {
    display: flex;
    background: #1f2937;
    gap: 15px;
    flex-wrap: wrap;
    padding: var(--padding-const);
    padding-bottom: 128px;
    
}

/*Hero components styling*/
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.intro {
    flex: 1;
}

.intro > button {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 32px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
}


/*Styling of random section*/

.random {
    color: #1f2937;
}

.random {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Styling of random section components*/

.random > .card-deck {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 32px;
}

.random > .card-deck > .card {
    justify-content: center;
    font-size: 18px;
}

.random > .card-deck > .card > .illustration {
    border: 4px solid #256ee4;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.random > .card-deck > .card > p {
    width: 150px;
}

.random > p {
    font-size: 32px;
    font-weight: 900;
}

/*Quote section styling*/
.quote {
    display: flex;
    background: #e5e7eb;
    color: black;
    flex-direction: column;
    padding: 64px 25%;
}

/*Quote components styling*/
.quote > p:first-child {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
}

.quote > p:last-child {
    align-self: flex-end;
    font-weight: bold;
}

/*Sign-up section styling*/
.sign-up {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
}

/*Sign-up components styling*/
.sign-up > .card {
    align-items: center;
    background: #3882f6;
    border-radius: 15px;
    display: flex;
    font-size: 18px;
    gap: 25px;
    height: fit-content;
    justify-content: space-evenly;
    padding: 64px 64px;
    width: 860px;
}

.sign-up > .card > button {
    background: none;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 24px;
    white-space: nowrap;
}

.sign-up > .card > .message > p:first-child{
    font-size: 24px;
    font-weight: bold;
}

/*Footer section styling*/

.footer {
    align-items: center;
    background: #1f2937;
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 25px 0;
}
